/* Estilo principal de la pagina de love academy*/


/* Overriding bootstrap styles */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(236,37,135, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236,37,135, 0.6);
  outline: 0 none;
}

/*Estilos para generales*/

@font-face {
  font-family: 'Casper';
  src: url('../fonts/Casper.ttf');
}

@font-face {
  font-family: 'Casper Bold';
  src: url('../fonts/Casper Bold.ttf');
}

@font-face {
  font-family: 'Casper Italic';
  src: url('../fonts/Casperp Italic.ttf');
}



html{
  margin: 0px;
  padding: 0px;
  /*background-color: rgba(145,147,150, 0.1);*/
  font-family: 'Casper';
}

body{
  margin: 0px;
  padding: 0px;
}

button{
  font-family: 'Casper';
}

.btn{
  letter-spacing: 2px;
}

.container{
  border: 1px solid #ddd;  
}

.lac-bordered{
  padding: 20px;
  border: 1px solid #ddd;
}

.lac-row-padding{
  padding: 0px 20px 0px 20px;
}

.lac-select{
  padding-top: 7px;
}

.lac-select select{
  font-size: 0.8em; height: 26px;
}

.title-text{
  font: 'Casper Bold';
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 900;
}

.subtitle-text{
  font: 'Casper';
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgba(145,147,150, 0.9);
}

.title-row{
  font: 'Casper Bold';
  letter-spacing: 5px;
  text-transform: uppercase;
}

.testimonials{
  color: rgba(145,147,150, 0.9);
  font-family: 'Casper Italic';
  text-align: justify;
} 


form .form-group {
    margin-top: 0;
    margin-bottom: 0px;
}



form .form-group input{
    height: 50px;
    background-color: transparent;
    border-radius: 0;
}




/* Cabecera del sitio */

.lac-carousel{
  /*height: 400px;*/
}

.lac-menu{
  height: 70px;
  background-color: #CDCCCB;
}

.lac-menu{
  font-family: 'Casper';
  font-size: 1.1em;
  height: 50px;
}


#nav {
  text-align:center;
  position: relative;
  top: 10px;
}

#nav li {
  display:inline;
}

#nav a {
  text-decoration: none; 
  padding:0 10px; /* variable width */
  color: black;
  
}

/* Menu */
/*.item-menu-icon{
  margin: 12px;
  padding: 12px;
  color: #EC2587;
}

.item-menu-link{
  color: #000000;
  padding-top: 26px;
  font-size: 1.2em;
}*/


/* Estilos para el newsletter */


#lac-newsletter-title{
  background: #000000; color: #ffffff; padding: 2px 0px 10px 20px;
}

/* Estilos para los inputs */

.form-group label{
  font-family: 'Casper';
  padding: 0px;
  margin: 0px;
  font-size: .9em;
  letter-spacing: 2px;
  font-weight: lighter;
}

.form-group input{
  font-family: 'Casper';
  padding: 0px;
  margin: 0px; 
  border-radius: 6px;
}


.lac-title-row{
  background-color: #C7C6C2;
  height: 45px;
}


/* Cabeceras de linea para cada titulo de row */
.lac-title-row h3{
  color: #EC2587;
  padding-top: 10px;
  letter-spacing: 6px;
  font-family: 'Casper';
  font-weight: 100;
}

/* cards info teacher, healer coach */

.lac-card-thc{
  border: 1px solid #aaa; height: 430px;
}

.lac-card-thc > div:first-child{
  margin: 10px; border: 1px solid #aaa; height: 200px;
}

.lac-card-thc-title{
  background-color: #CDCCCB; height: 22px;
}

.lac-card-thc-title > h5{
  color: #fff; padding: 4px 0pc 0px 4px; font-family: 'Casper';
}

.lac-card-thc-info{
  height: 180px; max-height: 190px; position: relative; top: 10px;
}

.lac-card-thc-info p{
  font-size: 0.7em;
}

.lac-card-thc p{
  position: relative; bottom: 0px;
}

.lac-card-thc p i{
  color: #EC2587; font-weight: 900;
}


/* Card para experiences */

.lac-card-experience{
  border: 1px solid #aaa; height: 500px;
}

.lac-card-experience div{
  margin: 10px; border: 1px solid #aaa; height: 480px;
}

.lac-card-experience + p{
  position: relative; bottom: 10px;
}

.lac-card-experience + p a i{
  color: #EC2587; font-weight: 900;
}


/* Cardas para eventos */

.lac-card-event-img{
  margin: 0px;
  border: 1px solid #aaa;
  height: 390px;
}

.lac-card-event-img > div:first-child{
  margin: 10px;
  border: 1px solid #aaa;
  height: 200px;
}

.lac-card-event-img > div:nth-child(2n){
  margin: 10px;
  border: 1px solid #aaa;
  height: 160px;
}

.lac-card-event-img + p{
  position: relative;
  bottom: 10px;
}

.lac-card-event-img + p a i{
  color: #EC2587;
  font-weight: 900;
}


/* Cards para knowledge */

.lac-card-knowledge{
  margin: 0px 0px 0px 0px;
  border: 1px solid #aaa;
  height: 400px;
}

.lac-card-knowledge div{
  margin: 10px; border: 1px solid #aaa; height: 375px;
}

.lac-card-knowledge + p{
  position: relative; bottom: 10px;
}

.lac-card-knowledge + p a i{
  color: #EC2587;
  font-weight: 900;
}




/* TABLES STYLES */

/* syles for calendars */

.lac-calendar{
  height: 50px;
  /*line-height: 50px;*/
  background-color: rgba(145,147,150, 0.1);
  margin: 0px;
}

.lac-table{
  overflow: hidden;
}

.lac-table > tbody > tr > td{
  border: none;
}
  
.groupBy td{
  background-color: white !important;
  font-family: 'Casper Bold' !important;
  font-size: 1.5em;
  color: rgba(145,147,150, 0.8);
  letter-spacing: 5px;
}

.lac-event-day{
  line-height: 50px;
  font-size: 2.5em;
  padding: 0px 0px 0px 10px !important;
  margin: 0px;
  font-family: 'Casper Bold';
}

.lac-event-title{
  line-height: 50px;
  font-size: 1.3em;
  font-family: 'Casper';
  text-decoration: underline;
  padding-left: 15px;
}

.lac-table-info{
  padding-right: 30px;
}

.lac-table-info span{
  padding-left: 10px;
  position: relative;
  top: 18px;
  color: rgba(145,147,150, 0.9);
  font-family: 'Casper';
  font-size: .9em;
}

.lac-table-info span:nth-child(7){
  color: #EC2587;
  font-size: 1.2em;
  font-family: 'Casper Bold';
}


/* Estilo dkf001 */

.lac-card-special .title{
  height: 50px;
  line-height: 50px;
  background-color: #CDCCCB;
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 4px;
  margin: 0px;
  padding: 0px;
  font-family: 'Casper'
}

.lac-video{
  padding: 25px;
  border: 1px solid #CDCCCB;
}

.lac-text-quote > p{
  font-family: 'Casper Bold';
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.lac-text-explanation p:first-child{
  color: rgba(145,147,150, 1);
  font-family: 'Casper';
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
  letter-spacing: 8px;
}

.lac-text-explanation p{
  font-size: 1.2em;
  color: rgba(145,147,150, 0.9);
  font-family: 'Casper';
  text-align: justify;
  text-justify: inter-word;
}


/* Estilos para descripcion de sesion */

.row-info{
  height: 60px;
  line-height: 60px;
  background-color: #C7C6C2;
}
.row-info span{
  font-family: 'Casper';
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.4em;
  letter-spacing: 4px;
}